@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    color: rgb(0, 39, 12);
}

body {
	background-image: url("capy.jpg");
    background-size: cover;
    background-repeat: repeat;
	height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.timer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 700px;
    min-height: 300px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 12px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    padding:  30px;
    margin-top: 25px;
}

.timer-container .timer-container-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.timer-container .timer-container-item div {
    font-size: 5rem;
}

.title {
    font-size: 4rem;
}